@use "../../../scss/variables" as *;



.contact-form {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    background-color: $color-neutro-100;
    padding: $spacing-lg;
    border: 1px solid $color-neutro-300;
    border-radius: 8px;
    box-shadow: 0 2px 6px $color-dark-alpha-100;

    input,
    textarea {
        padding: $spacing-sm $spacing-lg;
        border: 1px solid $color-neutro-400;
        border-radius: 6px;
        font-size: $font-size-md;
        line-height: $line-height-md;
        color: $color-neutro-800;
        background-color: $color-neutro-100;
        transition: border-color 0.2s, box-shadow 0.2s;

        &:focus {
            outline: none;
            border-color: $color-primary-500;
            box-shadow: 0 0 0 2px $color-primary-200;
        }

        &::placeholder {
            color: $color-neutro-500;
        }
    }

    textarea {
        min-height: 120px;
        resize: vertical;
    }

    .error {
        color: $color-danger-500;
        font-size: $font-size-sm;
        margin-top: -$spacing-xs;
    }

    button {
        margin-top: $spacing-md;
        align-self: flex-start;
        background-color: $color-primary-600;
        color: $color-neutro-100;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        padding: $spacing-sm $spacing-lg;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: $color-primary-700;
        }

        &:active {
            background-color: $color-primary-800;
        }

        &:disabled {
            background-color: $color-neutro-400;
            cursor: not-allowed;
        }
    }

    // estado de éxito (puede ser para la alerta)
    &.success {
        border-color: $color-success-500;
        box-shadow: 0 0 0 2px $color-success-100;
    }
}