@use "@/../../../scss/variables" as var;

.highlighted-paragraph {
    background-color: var.$color-ak-light; 
    border-left: 5px solid var.$color-success-500; 
    padding: var.$spacing-lg;
    margin: var.$spacing-xl auto;
    max-width: 800px;

    font-size: var.$font-size-lg;
    font-weight: var.$font-weight-bold;
    text-align: center;
    color: var.$color-ak-neutral-800; 
}
