@use "../../scss/variables" as *;

.alert {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: fit-content;
        min-width: 300px;
        padding: 0 $spacing-md;

        background-color: $color-ak-light; 
        border: 1px solid $color-ak-accent-500; 
        border-radius: 0.25rem;
    }

    &__message,
    &__icon {
        font-size: $font-size-md !important;
        color: $color-ak-neutral-800; 
    }

    &--success &__message,
    &--success &__icon {
        color: $color-ak-primary-500; 
    }

    &--danger &__message,
    &--danger &__icon {
        color: $color-danger-700;
    }

    &--success &__content {
        background-color: $color-ak-light; 
        border-color: $color-ak-accent-500; 
    }

    &--danger &__content {
        background-color: $color-danger-100;
        border-color: $color-danger-500;
    }

    &--success-form {
        position: static !important;
        display: flex;
        justify-content: center;
    }
}
