@use "@/../../../../scss/variables" as var;

.product-new-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var.$spacing-md;
    border-radius: 12px;
    background: var.$color-neutro-100;
    box-shadow: 0 4px 8px var.$color-dark-alpha-100;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    min-height: 220px;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 12px var.$color-dark-alpha-300;
        background: var.$color-ak-primary-100; 
    }

    &__image {
        width: 80px;
        height: 80px;
        object-fit: contain;
        opacity: 0.8;
        transition: opacity 0.3s ease, transform 0.3s ease;

        &:hover {
            opacity: 1;
            transform: scale(1.1); 
        }
    }
}
