@use "@/scss/variables" as var;

.highlighted-products {
    padding: var.$spacing-xl;
    text-align: center;

    h2 {
        margin-bottom: var.$spacing-lg;
        font-size: var.$font-size-xxl;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-800;
    }

    .highlighted-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: var.$spacing-lg;
    }
}