@use "@/scss/variables" as var;

.highlighted-card {
    background: var.$color-neutro-100;
    border-radius: var.$spacing-sm;
    padding: var.$spacing-md;
    box-shadow: 0 4px 12px var.$color-dark-alpha-100;
    text-align: center;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px var.$color-dark-alpha-300;
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: var.$spacing-xs;
        margin-bottom: var.$spacing-md;
    }

    h3 {
        margin: var.$spacing-sm 0;
        font-size: var.$font-size-lg;
        font-weight: var.$font-weight-bold;
        color: var.$color-primary-800;
    }

    .price {
        font-weight: var.$font-weight-bold;
        font-size: var.$font-size-md;
        color: var.$color-success-500;
    }
}