@use "@/../../../scss/variables" as var;

.search-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var.$spacing-sm;
    margin: var.$spacing-md auto;
    max-width: 600px;

    &__input {
        flex: 1;
        padding: var.$spacing-sm var.$spacing-md;
        border: 2px solid var.$color-ak-primary-500; 
        border-radius: 8px;
        font-size: var.$font-size-md;
        outline: none;
        transition: all 0.3s ease;

        &:focus {
            border-color: var.$color-ak-primary-700;   
            box-shadow: 0 0 6px var.$color-ak-primary-300; 
        }
    }

    &__button {
        background-color: var.$color-ak-primary-600;
        color: var.$color-neutro-100;
        border: none;
        border-radius: 8px;
        padding: var.$spacing-sm var.$spacing-lg;
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: var.$color-ak-primary-700;
            transform: scale(1.05);
        }

        &:active {
            background-color: var.$color-ak-primary-800;
            transform: scale(0.95);
        }

        &:disabled {
            background-color: var.$color-neutro-400;
            color: var.$color-neutro-700;
            cursor: not-allowed;
            transform: none;
        }
    }
}