@use "@/scss/variables" as var;

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var.$spacing-md var.$spacing-lg;
    background-color: var.$color-primary-800;
    color: var.$color-neutro-100;


    &__institution {
        display: flex;
        align-items: center;
        gap: var.$spacing-sm;
    }


    &__title-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: var.$font-size-xl;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-100;
        letter-spacing: 1px;
    }


    &__shopping-cart {
        margin-left: auto;
        color: var.$color-neutro-100;

        svg {
            font-size: 2rem;
        }
    }
}