@use "@/scss/variables" as var;

.footer {
    grid-area: footer;

    padding: var.$spacing-sm 5%;
    background-color: var.$color-primary-500;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: var.$spacing-xs;
    }

    &__copyright {
        color: var.$color-neutro-200;
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-regular;
        text-align: center;
    }
}